* {
  padding: 0;
  margin: 0;
}

body {
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: beige;
}

.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-1 {
  width: 400px;
  height: 662px;
  margin-top: -3rem;
  cursor:pointer;
}

/*********** tekst "click to get Lucky"  ***********/

.tekst {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: -3rem;
  background-color: #9C2A22;
  height: 9vh;
}

p {
  font-family: 'Lobster', cursive;
  text-transform: capitalize;
  font-weight: 100;
  font-size: 3em;
  color: white;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#cigarettes:hover {
  opacity: 0;
}

/*********** Loading animation ***********/

.drop {
  animation: drop 1.2s forwards;
}

@keyframes drop {
  0% {
    transform:
      translate3d(0, -700px, 0) rotate3d(0, 0, 1, 10deg);
  }

  50%, 55% {
    transform:
      translate3d(0, -120px, 0) rotate3d(0, 0, 1, 5deg);
  }

  60% {
    transform:
      translate3d(0, 20px, 0) rotate3d(0, 0, 1, -10deg);
  }

  100% {
    transform-origin: center;
  }
}

/*********** Sigaret animation  ***********/

#tear {
  opacity: 1;
  transition: all 3s;
}

.tearoff {
  opacity: 0 !important;
  transform: translateY(-2em);
}

#sig-filter-2 {
  transition: all 1s cubic-bezier(0,1.15,1,.97);
  transition-delay: 1s;
}

.sigout {
  transform: translateY(-3em);
}

/*************** Responsiveness ***********/

/* Iphone X - Mobile */
@media only screen and (min-width : 0px) and (max-width : 375px) {
  .svg-1 {
    width: 300px;
  }

  p {
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    font-weight: 100;
    font-size: 1em;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
  }
  .tekst {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: -4rem;
    background-color: #9C2A22;
    height: 9vh;
  }
  .svg-1 {
    width: 400px;
    height: 662px;
    margin-top: -4rem;
    cursor:pointer;
  }
}

/* Ipad - Tablet */
@media only screen and (min-width : 376px) and (max-width : 768px) {
  .svg-1 {
    width: 350px;
  }

  p {
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    font-weight: 100;
    font-size: 2em;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
  }
  .tekst {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: -3rem;
    background-color: #9C2A22;
    height: 6vh;
  }
}
}

/* Macbook - Desktop */
@media only screen and (min-width : 769px) and (max-width : 2000px) {
  .svg-1 {
    width: 400px;
  }

  p {
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    font-weight: 100;
    font-size: 3em;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
  }
}
}
